<div>
    <mat-icon [matBadge]="carros.length" matBadgeColor="primary">people</mat-icon>
  </div>
  <div fxLayout="row wrap" fxLayout.lt-sm="column">
    <mat-card fxFlex="20" class="card-carro" *ngFor="let carro of carros">
      <mat-card-header>
        <mat-card-title>{{carro.modelo | titlecase}}</mat-card-title>
        <mat-card-subtitle>placa: {{carro.placa}} - cor: {{carro.cor}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        Carro {{carro.modelo}} - {{carro.placa}} está louco para ser alugado!
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="excluir(carro)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
  
